@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sancreek&family=Zilla+Slab+Highlight:wght@400;700&display=swap");
* {
  font-family: "public sans";
  font-weight: bold;
}
body {
  background: #191919;
  padding: 50px;
  color: #fff;
}
